
.product{
    margin: 2.7rem auto 1.3rem;
    width: 100%;
}
 .top-tab{
    width: 100%;
    position: fixed;
    top: 1.3rem;
    padding-top: 0.1rem;
    left: 0;
    background: #fff;
    z-index: 9;
    padding-bottom: 0.1rem;
    border-bottom: 0.01rem solid #dcdcdc;
}
.top-tab div{
    width: 50%;
    float: left;
    height: 1rem;
}
.top-tab div span{
    line-height: 0.8rem;
    height: 0.8rem;
    background: #e9eef3;
    text-align: center;
    width: 2rem;

    transition: 0.3s;
    font-size: 0.42rem;
    color: #666666;
    display: inline-block;
}
.top-tab .recommend-btn{
    text-align: right;
}

.top-tab .focus-btn span{
    border-radius: 0 50px 50px 0;
}

.top-tab .recommend-btn span{
    border-radius: 50px 0px 0px 50px;
}
.top-tab .focus-btn{
    text-align: left;
}

.top-tab div span.active{
    background: #557cff;
    color: #fff;
}
.product-bottom{
    width: 100%;
}
.product-content{
}
.product-bottom .recommend-list{
    display: block;
    width: 100%;
    min-height: 100vh;
}

.product-bottom .focus-list{
    left: 100%;
    width: 100%;
}
.focus-list .focus-lt{
    flex-direction: row;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}

.focus-list .focus-lt .item{
    width: 50%;
    flex-direction: row;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    padding: 0.2rem;
}
.focus-list .focus-lt .item .left{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 0.2rem;
}
.focus-list .focus-lt .item .left img{
    width: 100%;
}

.focus-list .focus-lt .item .right{
    flex: 1;
    padding-right: 1rem;
}
.focus-list .focus-lt .item .right .introduction{
    background: #f6f6f6;
    border-radius: 10px;
    font-size: 0.38rem;
    text-indent: 0.25rem;
    line-height: 0.66rem;
    text-align: left;
}
.focus-list .focus-lt .item .right .title{
    line-height: 0.5rem;
    height: 0.5rem;
    margin-bottom: 0.1rem;
    text-align: left;
    font-size: 0.42rem;
    color: #333333;
}

.swiper-container {
    width: 100%;
    height: 5rem;
}
.recommend-list .swiper-slide ,
.focus-list .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
}
.product-bottom .title{
    height:  1.4rem;
    width: 100%;
    line-height: 1.4rem;
}
.product-bottom .title_t{
    background: url("../images/border-left-bg.png") no-repeat left center;
    padding-left: 0.3rem;
    background-size: 0.15rem 0.55rem;
}

.product-bottom .title span{
    line-height: 1.4rem;
    color: #333333;
    float: left;
    font-size: 0.54rem;
    font-weight: bold;
}

.product-bottom .title a{
    line-height: 1.4rem;
    color: #1c9de1;
    float: right;
    font-size: 0.4rem;
}

.recommend-list>div{
    padding: 0 0.3rem;
    border-bottom: 0.2rem solid #f2f5f7;
}
.recommend-list>div:last-child{
    border-bottom: none;
}
.focus-list>div{
    padding: 0 0.3rem;
}
.recommend-list .forum-list{
    width: 100%;
    padding-bottom: 0.25rem;
}
.recommend-list .forum-list .list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
}
.recommend-list .forum-list .item{
    margin-bottom: 0.2rem;
    width: 49%;
    display: block;
}


.recommend-list  .list-recommend .item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #dbdbdb;
    justify-content:space-between ;
}
.recommend-list  .list-recommend .item:last-child{
    border-bottom: 0 solid #ccc;
}
.recommend-list  .list-recommend a{
    display: block;
}
.recommend-list  .list-recommend .left{
    flex: 1;
    z-index: 1;
    position: relative;
}
.recommend-list  .list-recommend .right{
    width: 3rem;
    margin-left: 0.65rem;
    border-radius: 10px;
    overflow: hidden;
    height: 2rem;
}
.recommend-list  .list-recommend .right img{
    width: 100%;
    height: 100%;
}
.recommend-list  .list-recommend .left .top{
    height: 1.5rem;
    overflow: hidden;
    line-height: 0.7rem;
    font-size: 0.48rem;
}
.recommend-list  .list-recommend .left .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.recommend-list  .list-recommend .left .bottom .user{
    float: left;
    padding-left: 15px;
    background: url("../images/user_icon.png") no-repeat left 0.1rem;
    background-size:auto 10px;
    font-size: 0.36rem;
    line-height: 0.6rem;
    color: #999999;
}

.recommend-list  .list-recommend .left .bottom .message{
    float: right;
    font-size: 0.36rem;
    color: #999999;
    padding-left: 15px;
    line-height: 0.6rem;
    background: url("../images/message_icon.png") no-repeat left  0.1rem;
    background-size:auto  10px;
    margin-left: 0.2rem;
}


.recommend-list  .list-recommend .left .bottom .view{
    float: right;
    padding-left: 15px;
    line-height: 0.6rem;
    font-size: 0.36rem;
    color: #999999;
    background: url("../images/view_icon.png") no-repeat left  0.1rem;
    background-size:auto  10px;
    margin-left: 0.2rem;
}

.recommend-list  .video_item .l_title{
    color: #333333;
    font-size: 0.48rem;
}
.recommend-list  .video_item .list-video {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between ;
}
.recommend-list  .video_item .list-video .item a{
    display: block;
}
.recommend-list  .video_item .list-video .item{
    margin-top: 0.2rem;
    width: 48%;
}

.recommend-list  .video_item .list-video .item .top{
    width: 100%;
    position: relative;
}
.recommend-list  .video_item .list-video .item .bottom p{
    line-height: 0.6rem;
    padding-top: 0.1rem;
    height: 1.4rem;
    overflow: hidden;
    font-size: 0.42rem;
}
.recommend-list  .video_item .list-video .item .top .master{
    width: 100%;
}
.recommend-list  .video_item .list-video .item .top .btn{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 50%;
    margin-left: -0.3rem;
    top: 50%;
    margin-top: -0.3rem;

}

.recommend-list  .video_item .list-video .item:first-child .bottom{
    line-height: 1.3rem;
    height: 1.3rem;
}
.recommend-list  .video_item .list-video .item:first-child .top .btn{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    left: 50%;
    margin-left: -0.85rem;
    top: 50%;
    margin-top: -0.85rem;

}

.recommend-list  .video_item .list-video .item:first-child{
    width: 100%;
}
.recommend-list  .video_item .list-video .item:first-child .bottom p{
    line-height: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.1rem;
    white-space: nowrap;
}
.recommend-list  .video_item .list-video .item .top .time{
    width: 1.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    position: absolute;
    left: 0.5rem;
    color: #fff;
    text-align: right;
    font-size: 0.2rem;
    padding-right: 0.15rem;
    background: url("../images/time_icon.png") no-repeat bottom;
    background-size: 100% 100%;
    margin-left: -0.25rem;
    bottom: 0.1rem;
}
.recommend-list  .video_item .list-video .item:first-child .top .time{

    width: 1.8rem;
    height: 0.65rem;
    line-height: 0.65rem;
    padding-right: 0.25rem;
    bottom: 0.2rem;
    font-size: 0.32rem;
}



.recommend-list  .video_item .list-video .item .bottom .message{
    float: left;
    padding-left: 15px;
    background: url("../images/message_icon.png") no-repeat left  0.1rem;

    line-height: 0.6rem;
    font-size: 0.36rem;
    background-size:auto  10px;
    margin-right: 0.2rem;
}


.recommend-list  .video_item .list-video .item .bottom .view{
    float: left;
    padding-left: 15px;
    background: url("../images/view_icon.png") no-repeat left  0.1rem;

    font-size: 0.36rem;
    line-height: 0.6rem;
    background-size:auto  10px;
    margin-right: 0.2rem;
}


.recommend-list  .video_item .list-video .item:first-child .bottom .view{
    float: right;
}
.recommend-list  .video_item .list-video .item:first-child .bottom .message{
    float: right;
}

.recommend-list  .video_item1 .list-video .item{
    margin-top: 0.2rem;
    width: 100%;
}